$blue: #335489;
$lightblue: #6ab8cc;
$green: #387959;
$orange: #fc834e;
h1,
h2,
h3,
h4,
h5,
body,
section {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    color: $blue;
}

#coabode {
    background-image: url("../img/Coabode/header2.jpg");
}

h2 {
    font-weight: 700;
    color: $orange;
}

.color1 {
    background-color: $blue;
    text-align: center;
    p {
        color: white;
        line-height: 3em;
    }
}

.color2 {
    background-color: $lightblue;
    text-align: center;
    p {
        color: white;
        line-height: 3em;
    }
}

.color3 {
    background-color: $green;
    text-align: center;
    p {
        color: white;
        line-height: 3em;
    }
}

.color4 {
    background-color: $orange;
    text-align: center;
    p {
        color: white;
        line-height: 3em;
    }
}