body {
    font-family: 'aller', Arial, Helvetica, sans-serif;
    position: relative;
}

section {
    padding: 4%;
}

header {
    z-index: 5;
}

h1,
h2,
h3 {
    font-family: 'aller', Arial, Helvetica, sans-serif;
}

h4,
h5,
h6 {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h5 {
    font-size: 1.5em;
}

p {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
}

a {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: inherit;
}

.color-background {
    background-color: #606060;
    color: white;
}

.color-background p {
    color: white;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: .5px;
}

.color-background a {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.color-background h5 {
    text-align: left;
    color: white;
    letter-spacing: 1px;
}


/* Sticky Left Nav Settings */

aside {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    top: 5%;
    bottom: 0;
    height: 100%;
    margin-top: 20px;
    background-color: none;
    white-space: nowrap;
}

aside nav {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
}

aside .nav li a {
    background-color: rgba(0, 0, 0, 0);
    font-size: 1 em;
    -webkit-transition-property: font-size;
    /* Safari */
    transition-property: font-size;
    transition-duration: .1s;
    color: black;
}

aside .nav li a:hover {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0);
}

aside .nav li a:focus {
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0);
}

aside .nav li .active a:active {
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.25em;
}

.nav-stacked>li .active {
    font-size: 1.25em;
}

.nav-stacked {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
}

.nav-stacked .active {
    font-size: 1.25em;
}

.nav-stacked a {
    padding: 25%;
}

#Branding,
#Challenges,
#About,
#App {
    position: relative;
    padding-top: 100px;
}


/* Top navbar Settings */

.navbar {
    font-family: 'proxima nova', Arial, Helvetica, sans-serif;
    background-color: rgba(1, 1, 1, 1);
    color: white;
}

.navbar>li {
    color: black;
    font-family: inherit;
}

.navbar-right {
    padding-right: 10%;
}

.none {
    padding: 0;
}